{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_interface.css') }}">
{% endblock %}

{% if exact_title_matches %}
    <p>Exact Title Matches:</p>
    <div class="retrieved-documents">
        <p>{{ exact_title_matches }}</p>
    </div>
{% endif %}

{% if candidate_response %}
    <p>Candidate RQs:</p>
    {% for nl_q, sru_q in candidate_response %}
    <div class="retrieved-documents">
        <p>{{ nl_q }}<br>{{ sru_q }}</p>
    </div>
    {% endfor %}
{% endif %}
