/* ChatArea.css */
:root {
    --chat-area-bg-color: rgb(50,50,50);
}

.user-area {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: var(--chat-area-bg-color);
}

.chat-sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    background-color: rgb(35, 35, 35);
    /* border: 3px solid blue; */
}

.chat-sidebar-btn-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    /* border: 3px solid red; */
}

/* .new-chat-btn {
    position: relative;
    width: 80%;
    height: 50%;
    border-radius: 0.5rem;
    font-family: monospace;
    font-size: 1rem;
    color: white;
    background-color: #606060;
    cursor: pointer;
}

.new-chat-btn:not(:disabled):hover {
    background-color: rgb(137, 137, 137);
}

.new-chat-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
} */

.chat-history-container {
    position: absolute;
    height: 90%;
    width: 100%;
    top: 10%;
    overflow-y: auto;
    /* border: 1px solid yellow; */
}

.chat-area {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    left: 10%;
    font-family: monospace;
    color: black;
    background-color: var(--chat-area-bg-color);
    /* border: 3px solid green; */
}

.mode-description-container {
    position: relative;
    left: 2%;
    width: 96%;
    height: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Arial;
    font-size: 1.1rem;
    color: white;
    opacity: 0.5;
    /* border: 3px solid yellow; */
}

.mode-logo {
    position: relative;
    height: 20%;
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 3px solid blue; */
}

.mode-description {
    position: relative;
    height: 20%;
    /* width: 35%; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    font-family: Arial;
    font-size: 1.2rem;
    color: white;
    opacity: 0.7;
    /* border: 3px solid green; */
}

.mode-description a {
    font-weight: 500;
    color: white;
}

.mode-name {
    position: relative;
    margin: 2px;
    padding: 0;
    font-size: 1.5rem;
}

.mode-text {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

.chat-header {
    position: relative;
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    font-family: monospace;
    /* border: 3px solid yellowgreen; */
}

.intent-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.25rem;
}

.message-area {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /* padding: 1%; */
    left: 2%;
    width: 96%;
    height: 85%;
    /* border: 3px solid red; */
    font-size: 1.1rem;
    gap: 50px;
}

.message.user {
    text-align: right;
    max-width: 50%;
    font-family: monospace;
    font-size: 1rem;
    color: white;
    padding: 0.8rem;
    margin: 5px;
    margin-left: auto;
    /* border: 3px solid orange; */
    border-radius: 0.5rem;
    background-color: #1a1a1a;
}

.message.assistant {
    text-align: left;
    max-width: 60%;
    font-family: monospace;
    font-size: 1rem;
    color: white;
    padding: 0.8rem;
    margin-right: auto;
    /* border: 3px solid yellowgreen; */
    border-radius: 0.5rem;
    background-color: #606060;
}

.message.sru {
    text-align: left;
    max-width: 60%;
    font-family: monospace;
    font-size: 1rem;
    color: black;
    padding: 0.8rem;
    margin-right: auto;
    border-radius: 0.5rem;
    background-color: antiquewhite;
}

.message-time {
    font-size: monospace;
    font-size: 0.7rem;
}

.message-input-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 10%;
    left: 5%;  
    /* border: 3px solid yellow; */
  }

.message-input {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1%;
    margin: 0;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    background-color: antiquewhite;
    height: 30%;
    width: 70%;
    left: 15%;
    border-radius: 5px;
    outline: none;
    /* border: 3px solid blueviolet; */
}

.message-input:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.send-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vh;
    height: 5vh;
    right: 5%;
    background-color: antiquewhite;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.send-btn:hover {
    background-color: rgb(255, 255, 255);
}

.send-btn:disabled {
    background-color: antiquewhite;
    cursor: not-allowed;
}

.new-chat-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vh;
    height: 5vh;
    right: 0;
    background-color: antiquewhite;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.new-chat-btn:hover {
    background-color: rgb(255, 255, 255);
}

.new-chat-btn:not(:disabled):hover {
    background-color: rgb(137, 137, 137);
}

.new-chat-btn:disabled {
    background-color: antiquewhite;
    cursor: not-allowed;
}

.typing-indicator {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.typing-status {
    position: relative;
    font-family: monospace;
    font-size: 1rem;
    font-style: normal;
    color: white;
}

.status-indicator {
    position: relative;
    font-family: monospace;
    color: black;
    font-size: 1rem;
    width: 50%;
    top: 5px;
    left: 3%;
    /* border: 2px solid orange; */
}

.sru {
    position: relative;
    text-align: left;
    max-width: 60%;
    font-family: monospace;
    font-size: 1rem;
    color: black;
    padding: 0.8rem;
    margin-right: auto;
    /* border: 3px solid yellowgreen; */
    border-radius: 0.5rem;
    background-color: antiquewhite;
}

.sru-btn-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
    height: 2vh;
    margin: 0;
    padding: 0;
    gap: 10px;
}


.sru-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 1rem 0.5rem;
    background-color: antiquewhite;
}

.sru-btn:hover {
    cursor: pointer;
    background-color: rgb(247, 219, 181);
}

.sru-validness-msg {
    position: relative;
    height: 100%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    /* text-decoration: underline; */
    color: white;
    background-color: transparent;
}