/* SessionSelector.css */

.session-selector {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    /* border: 3px solid red; */
}

.session-selector h3{
  color: black;
  text-align: left;
}

.session-badge {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    padding: 1%;
    right: 2.5%;
    width: 90%;
    height: 3vh;
    border: 2px solid rgb(115, 115, 115);
    border-radius: 6px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: rgb(56, 56, 56)
}

.session-badge.disabled {
    opacity: 0.5;            
    pointer-events: none;      
    user-select: none;        
    cursor: not-allowed;      
}

.session-badge.active {        
    pointer-events: none;      
    user-select: none;        
    cursor: not-allowed;
    background-color: antiquewhite; 
    box-shadow: -2px 2px 3px black;     
}

.topic-list {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 90%;
  height: 50%;
  overflow-y: auto;
  border: 3px solid #c2c2c2;
  border-radius: 3px;
}

.topic-btn {
  border: 1px solid #e0e0e0;
  padding: 15px;
  background-color: #fafafa;
  transition: box-shadow 0.3s ease;
  width: 100%;
  font-size: 1rem;
  font-family: monospace;
}

.topic-btn:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.topic-btn.selected {
  font-size: 1.1rem;
  pointer-events: none;      
  user-select: none;        
  cursor: not-allowed;
  background-color: antiquewhite; 
}

.topic-btn.unselected {
  pointer-events: auto;      
  user-select: none;        
  cursor: pointer;
  color: rgb(80, 80, 80);
}

.topic-btn.unselected.disabled,
.topic-btn.selected.disabled {
  pointer-events: none !important;
  user-select: none !important;
  cursor: not-allowed !important;
  opacity: 0.5 !important;
  color: gray !important;
}

.timer-container {
  position: relative;
  width: 90%;
  height: 10%;
  left: 5%;
  display: flex;
  flex-direction: row;
  /* border: 2px solid #c2c2c2; */
  padding: 1%;
}

.timer {
  position: relative;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: monospace;
}

.timer-controller-btn {
  display: flex;
  margin: 5%;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  border-radius: 6px;
  background-color: whitesmoke;
  border: 2px solid rgb(163, 162, 162);
}

.timer-controller-btn:hover {
  background-color: rgb(247, 222, 188);
  cursor: pointer;
}

.timer-controller-btn:disabled {
  cursor: not-allowed !important;
  pointer-events: none;
  opacity: 0.6; 
  background-color: #ededed; 
}