{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_interface.css') }}">
{% endblock %}

{% if title_matching_time %}
    <div class="retrieved-documents">
        <p>Exact title matching: {{ title_matching_time }}</p>
    </div>
{% endif %}

{% if tentative_gallica_search_time %}
    <div class="retrieved-documents">
        <p>Tentative retrieval with Gallica: {{ tentative_gallica_search_time }}</p>
    </div>
{% endif %}

{% if gallica_search_time %}
    <div class="retrieved-documents">
        <p>Retrieval with Gallica: {{ gallica_search_time }}</p>
    </div>
{% endif %}

{% if load_document_embedding_time %}
    <div class="retrieved-documents">
        <p>Load document embeddings: {{ load_document_embedding_time }}</p>
    </div>
{% endif %}

{% if clustering_time %}
    <div class="retrieved-documents">
        <p>Clustering with HDBSCAN: {{ clustering_time }}</p>
    </div>
{% endif %}

{% if topic_modeling_prompt_time %}
    <div class="retrieved-documents">
        <p>Topic modeling prompt: {{ topic_modeling_prompt_time }}</p>
    </div>
{% endif %}

{% if clarification_generation_time %}
    <div class="retrieved-documents">
        <p>Clarification generation prompt: {{ clarification_generation_time }}</p>
    </div>
{% endif %}

{% if nl_sru_conversion_time %}
    <div class="retrieved-documents">
        <p>NL2SRU conversion: {{ nl_sru_conversion_time }}</p>
    </div>
{% endif %}

{% if filtering_time %}
    <div class="retrieved-documents">
        <p>Filtering irretrievable RQs: {{ filtering_time }}</p>
    </div>
{% endif %}

{% if total_time %}
    <div class="retrieved-documents">
        <p>Total time: {{ total_time }}</p>
    </div>
{% endif %}
