{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
{% endblock %}

<div class="conversation-annotation-showbox">
    {% for ky in ["username", "timestamp", "status", "free_test", "chat_mode", "label"] %}
        <p>{{ ky }} : {{ chat_data[ky] }}</p>
    {% endfor %}
</div>

{% set chat_history = chat_data["chat_history"] %}

{% if chat_history %}
    {% for conv in chat_history %}
        <!-- always fetch the last saved conversation, in case the user refreshes, don't show the abandoned responses -->
        {% set user_message = conv[-1][0] %}
        {% set llm_responses = conv[-1][1] %}
        {% set evals = conv[-1][2] %}
        {% if user_message %}
            <div class="user-message-container message-fade-in">
                <div class="user-message">
                    {{ user_message }}
                </div>
                <img src="https://api.dicebear.com/9.x/thumbs/svg?seed={{ session['avatar-seed'] }}" alt="User Avatar" class="user-avatar">
            </div>
        {% endif %}
        <div class="llm-response-container message-fade-in">
            <img src="{{ url_for('static', filename='img/llm_avatar.png') }}" class="llm-avatar">
            <div class="llm-message-container">
                <div class="llm-message">
                    {{ llm_responses[0] }}
                </div>
                <div class="turn-annotation-container">
                    {% if evals["redondant"] == "yes" %}
                        <div class="turn-annotation-checkbox-container">
                            <div class="turn-annotation-checkbox selected">✔</div>
                            <span class="checkbox-label">Redondant</span>
                        </div>
                    {% else %}
                        <div class="turn-annotation-checkbox-container">
                            <div class="turn-annotation-checkbox"></div>
                            <span class="checkbox-label">Redondant</span>
                        </div>
                    {% endif %}
                    {% if evals["unnatural"] == "yes" %}
                        <div class="turn-annotation-checkbox-container" style="left: 25%; pointer-events: none;">
                            <div class="turn-annotation-checkbox selected">✔</div>
                            <span class="checkbox-label">Non naturel</span>
                        </div>
                    {% else %}
                        <div class="turn-annotation-checkbox-container" style="left: 25%; pointer-events: none;">
                            <div class="turn-annotation-checkbox"></div>
                            <span class="checkbox-label">Non naturel</span>
                        </div>
                    {% endif %}
                    {% if evals["incomplete"] == "yes" %}
                        <div class="turn-annotation-checkbox-container" style="left: 50%; pointer-events: none;">
                            <div class="turn-annotation-checkbox selected">✔</div>
                            <span class="checkbox-label">Non complet</span>
                        </div>
                    {% else %}
                        <div class="turn-annotation-checkbox-container" style="left: 50%; pointer-events: none;">
                            <div class="turn-annotation-checkbox"></div>
                            <span class="checkbox-label">Non complet</span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
