:root{
    --avatar-bg-color: rgb(253, 229, 198);
    --interface-bg-color:  #f0ede5; 
    --progress-color: #e77b68;;
    --loading-point-normal-color: antiquewhite;
    --loading-point-peak-color: rgb(245, 204, 150);
}

html { font-family: sans-serif; background: white; padding: 1rem; font-size: 1.2vw; margin: 0; padding: 0; height: 100%; width: 100%; overflow: hidden}
body { margin: 0 auto; padding: 0; height: 100%; width: 100%; background: white; font-size: inherit; overflow: hidden}
h1, h2, h3, h4, h5, h6 { font-size: inherit; font-family: serif; color: #377ba8; margin: 1rem 0; margin-top: 0rem; margin-bottom: 1vh;}
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: rgb(255, 255, 255); display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; font-size: 1.5rem;}
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li {font-size: 1rem;}
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
/* input[type=submit] { align-self: start;} */
input[disabled] { cursor: not-allowed; }

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes trembling {
    0%, 100% {
      transform: scale(1); 
    }
    20% {
      transform: scale(1.1); 
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.1); 
    }
}

@keyframes lighteningUp {
    0%, 100% {
      filter: brightness(1); 
    }
    25% {
      filter: brightness(1.2); 
    }
    50% {
      filter: brightness(1);
    }
    75% {
      filter: brightness(1.2); 
    }
}

@keyframes jumping {
    0%, 100% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(-3%); 
    }
  }

@keyframes progressLoop {
    0% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
}

@keyframes scaleColorChange {
    0% {
      transform: translateY(0);
      transform: scale(1); 
      background-color: var(--loading-point-normal-color);  
    }
    50% {
      transform: translateY(-5%);
      transform: scale(1.5);  
      background-color: var(--loading-point-peak-color); 
    }
    100% {
      transform: translateY(0);
      transform: scale(1);  
      background-color: var(--loading-point-normal-color); 
    }
}


/* animation tutorial-related */
body.animation-tutorial-active::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    pointer-events: none; 
}

.upper-bar-container {
    position: absolute; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 8%; 
    width: 100%; 
    margin: 0; 
    padding: 0; 
    background-color: #111;
}

.loading-point {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;  
    background-color: var(--loading-point-normal-color);  
    animation: scaleColorChange 1s infinite; 
    transition: all 1s linear;
}

.moving-chick {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    left: 30%;
    width: 38%;
    margin: 0;
    padding: 0;
    border: none;
    position: absolute;
    animation: progressLoop 3s linear infinite;
    z-index: 100;
}

.progress-bar-container {
    left: 32%; 
    width: 40%;
    height: 3vh;
    background-color: var(--progress-color); 
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.7);
}

.progress-bar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background-color: #e9e5e5;
    animation: progressLoop 3s linear infinite;
}

.warning-message {
    padding: 0;
    font-size: 1rem; 
    color: rgb(238, 35, 35); 
    font-family: monospace;
    font-weight: none;
    /* animation: trembling 0.5s ease-in-out 1;  */
}

.warning-message.tremble {
    animation: trembling 0.5s ease-in-out;
}

.fade-in {
    animation: fadeIn 1.5s ease-in forwards;
}

.fade-out {
    animation: fadeOut 1s ease-out forwards;
}

.fade-in-out {
    animation: fadeIn 1s ease-out forwards, fadeOut 1s ease-out forwards;
    animation-delay: 0s, 3s;
}

.avatar-container {
    position: relative;
    display: inline-block;
    padding: 0;
}

/* use the whole avatar container as the hover zone
.avatar-container:hover #dropdownMenu {
    display: block;
} */

.avatar {
    cursor: pointer;
    height: 7vh; 
    width: auto; 
    border-radius: 50%; 
    transition: filter 0.3s ease;
    background-color: var(--avatar-bg-color);
    margin-right: 0vw;
    margin-top: 0vh;
}

.avatar:hover {
    filter: brightness(1.2);
}

/* Dropdown Menu Styling */
.avatar-dropdown-menu {
    display: none; 
    position: absolute;
    top: 110%;
    right: 10%;
    transform: translateX(0%);
    background-color: #fff;
    border: 0.1rem solid #000000;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    width: max-content;
    z-index: 1100;
    flex-direction: column;
}

.avatar-dropdown-menu a {
    display: block;
    padding: 0.1rem 1rem;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    font-family: monospace;
    transition: background-color 0.3s;
    border-radius: 0.5rem;
    z-index: 1200;
    cursor: pointer;
}

.avatar-dropdown-menu a:hover {
    background-color: #d4d4d4;
}

/* clickable avatars for users to select */
.clickable-avatar-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: -5vh;
}

.clickable-avatar-row {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.clickable-avatar {
    cursor: pointer;
    height: 7vh; 
    width: auto; 
    border-radius: 50%; 
    background-color: var(--avatar-bg-color);
    margin-right: 1vw;
    margin-top: 0vh;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.7);
    transition: filter 0.3s ease, background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.clickable-avatar:hover {
    filter: brightness(1.1);
    background-color: #f7d197;
    transform: scale(1.5); 
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.2);
}

.clickable-avatar.selected {
    filter: brightness(1.1);
    background-color: #f7d197;
    transform: scale(1.5); 
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.2);
}

.cross-label {
    width: 20px; 
    height: 20px; 
    background-color: transparent; /* Keep the background transparent */
    display: inline-block; 
    position: relative; 
    cursor: pointer; /* Show pointer on hover */
}

/* Default cross lines (gray) */
.cross-label::after, .cross-label::before {
    content: ''; 
    position: absolute; 
    top: 70%; 
    left: 50%; 
    width: 2px; /* Thickness of the cross lines */
    height: 12px; /* Length of the cross lines */
    background: gray; /* Default color for the cross */
    transform: translate(-50%, -50%); /* Center the lines */
}

/* One line for the diagonal */
.cross-label::after {
    transform: translate(-50%, -50%) rotate(45deg); /* First diagonal line */
}

/* Other line for the diagonal */
.cross-label::before {
    transform: translate(-50%, -50%) rotate(-45deg); /* Second diagonal line */
}

/* Change cross color to red on hover */
.cross-label:hover::after, .cross-label:hover::before {
    background: red; /* Change cross color to red on hover */
}

/* Change cross color to red when checked */
.cross-checkbox:checked + .cross-label::after,
.cross-checkbox:checked + .cross-label::before {
    background: red; /* Change cross color to red when checked */
}

.star {
    font-size: 24px;
    color: lightgray;
    cursor: pointer;
}

.star.rated {
    color: rgb(255, 136, 0);
}

.vertical-text-container {
    /* display: flex;
    align-items: center; Center align items vertically */
    float:right;
}

.vt-container {
    margin-left: 20px; /* Space between button and text */
    display: flex;
    flex-direction: column; /* Stack the text vertically */
    justify-content: left; /* Center text vertically in the container */
}

.text-row {
    margin: 0;                      /* Remove default margins */
    padding: 3px;                  /* Add padding for visual comfort */
    background-color: #f0f0f0;      /* Default background color */
    border-radius: 2px;             /* Rounded corners */
    margin-bottom: 3px;  
    font-family: monospace;
}

button[disabled] {
    cursor: not-allowed; /* Not-allowed cursor */
    opacity: 0.6; /* Slightly faded */
}

.logo-container {
    display: flex;
    justify-content: center;
    margin: 0;
}
.logo-container img {
    margin: 0 0.5vw;
}
.logo-container img.first-logo {
    width: 15vw;
    height: auto;
}
.logo-container img.second-logo {
    width: 8vw;
    height: auto;
}

