{% extends 'base.html' %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block content %}
<div class="admin-button-area">
  <p class="admin-label" style="top: 10%;">
    Bienvenue, {{ session["username"] }} 
    {% for _ in range(session["permission_level"]) %}🌟{% endfor %}
  </p>
  <button class="admin-button" onclick="window.location.href='{{ url_for('user.index') }}'" style="top: 17%;">🙂 Interface Testeur</button>
  <button class="admin-button" style="top: 27%" disabled="true;">💬 Nouveau Chat</button>
</div>

<div class="admin-option-area">
    <div class="admin-option-row" style="top: 5%;"> 
      <button class="admin-option" onclick="window.location.href='{{ url_for('admin.profile') }}'"><span style="font-size: 3rem;">📒</span><br><br>Consulter les profils<br>des utilisateurs</button>
      <button class="admin-option" onclick="window.location.href='{{ url_for('admin.chat_history') }}'"><span style="font-size: 3rem;">📑</span><br><br>Consulter l'historique des conversations</button>
      <button class="admin-option" disabled="true;"><span style="font-size: 3rem;">🎨</span><br><br>Notes de version</button>
    </div>
    {% if session["permission_level"] >= 2 %}
    <div class="admin-option-row" style="top: 50%;">
        <button class="admin-option"><span style="font-size: 3rem;">👁️</span><br><br>Toutes Les Tâches<br><br></button>
        <button class="admin-option"><span style="font-size: 3rem;">⚙️</span><br><br>Définir les paramètres<br>de la tâche</button>
        <button class="admin-option"><span style="font-size: 3rem;">🤖</span><br><br>Statut du LLM</button>
    </div>
    {% endif %}
</div>
{% endblock %}