{% block header %}
  <div style="margin-top: -27px; margin-bottom: 5px; display: flex; justify-content: space-between; align-items: center; width: 100%;">
    <h1 style="font-size: 21px; color: #1c6ebb; font-family: 'Impact'; margin: 0; margin-top: 5px; margin-bottom: 5px;">{% block title %}Bienvenue, {{ username }}{% endblock %}</h1>
    
    {% if g.user %}
      <a href="{{ url_for('user.index') }}" style="text-decoration: none;">
        <button id="as-user" style="padding: 5px 10px; background-color: #bb8011; color: white; border: none; border-radius: 5px; margin-left: 10px; margin-top: 0px; margin-bottom: 7px;">🙂 Interface Testeur</button>
      </a>
      <a href="{{ url_for('admin.new_chat') }}" style="text-decoration: none;">
        <button id="start-new-test" style="padding: 5px 10px; background-color: #3c8fd3; color: white; border: none; border-radius: 5px; margin-left: 10px; margin-top: 0px; margin-bottom: 7px;">&#128172 Nouvelle Conversation</button>
      </a>
    {% endif %}
  </div>
{% endblock %}


{% block content %}
<div class="button-block-container">
  <!-- First Button Block -->
  <div class="button-block">
      <!-- First row of buttons -->
      <div class="button-row">
          <a href="{{ url_for('admin.profile') }}"><button><div style="font-size: 70px;">👁️</div><br>Surveiller le processus<br>de test</button></a>
          <button><div style="font-size: 70px;">⚙️</div><br>Définir les paramètres<br>de la tâche</button>
          <button><div style="font-size: 70px;">🤖</div><br>Statut du LLM</button>
      </div>
      <!-- Second row of buttons -->
      <div class="button-row">
          <a href="{{ url_for('admin.profile') }}"><button><div style="font-size: 70px;">📒</div><br>Consulter les profils<br>des utilisateurs</button></a>
          <a href="{{ url_for('admin.chat_history') }}"><button><div style="font-size: 70px;">📑</div><br>Consulter l'historique des conversations</button></a>
          <button><div style="font-size: 70px;">🎨</div><br>Notes de version</button>
      </div>
  </div>
</div>
{% endblock %}