{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block content %}
<div class="option-header-container">
    <a href="{{ url_for('admin.index') }}" class="back-button" style="text-decoration: none;">⤴️</a>
    <p class="option-header-label">Profils des utilisateurs</p>
</div>
<div class="user-data-table-container">
    <div class="column-container" style="width: 20%;">
        <div class="column-title">
            {% if session["permission_level"] >= 2 %}
                <input class="user-manage-checkbox" type="checkbox" style="margin-top: 2vh;" onclick="handleAllUsers(this);">
                <p style="margin: 1%;">User</p>
                <button class="user-manage-button" onclick="$(document.getElementById('addUserModal')).modal('show');">⨁</button>
                <button class="user-manage-button" type="button" onclick="showWarningModal('delete');">⮿</button>
                <button class="user-manage-button" type="button" onclick="showWarningModal('promote');">⬆</button>
                <button class="user-manage-button" type="button" onclick="showWarningModal('reset');">⭮</button>
            {% else %}
                <p style="margin: 1%;">User</p>
            {% endif %}
        </div>
        <div class="column-content-container" id="all-users-list">
            {% for user in users %}
            {% set permission_level = user.data.permission_level | default(0) %}
                <div class="user-rectangle">
                    {% if session["permission_level"] >= 2 %}
                        <input class="user-manage-checkbox" id="user-checkbox-{{ user.id }}" data-index="{{ user.id }}" type="checkbox">
                    {% endif %}
                    <button class="user-button" onclick="getUserInfo({{ user.id }},this);">
                        {{ user.username }}{% for _ in range(permission_level) %}🌟{% endfor %}
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="column-container" style="left: 20%; width: 80%;">
        <div class="column-title">Profil</div>
        <div id="user-info" class="chat-entry-container"></div>
    </div>
</div>

<div class="modal fade info-modal" id="addUserModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable fixed-modal-aspect">
        <div class="modal-content">
            <div class="modal-header">
                Create new users
            </div>
            <div class="modal-body">
                <form id="addUserForm" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                    <label for="lowerBound">New Users' ID range:</label>
                    <div style="display: inline-block;">
                        <input type="number" id="new-user-id-lower-bound" name="lowerBound" placeholder="Low bound" required>
                        -
                        <input type="number" id="new-user-id-upper-bound" name="upperBound" placeholder="Upper bound" required>
                    </div>
                    <br><br>

                    <label for="passwordLength">Password Length:</label>
                    <input type="number" id="passwordLength" name="passwordLength" placeholder="Password length" required>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="modal-confirm-button" form="addUserForm">OK</button>
                <button type="button" class="modal-confirm-button" onclick="$(document.getElementById('addUserModal')).modal('hide');" style="background-color: rgb(216, 68, 68);">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade info-modal" id="operationWarningModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable fixed-modal-aspect">
        <div class="modal-content">
            <div class="modal-header" id="operation-warning-modal-header"></div>
            <div class="modal-body" id="operation-warning-modal-body"></div>
            <div class="modal-footer">
                <button type="submit" class="modal-confirm-button" onclick="operateOnSelectedUsers();">Yes</button>
                <button type="button" class="modal-confirm-button" onclick="$(document.getElementById('operationWarningModal')).modal('hide'); operationOnUsers='safe';" style="background-color: rgb(216, 68, 68);">Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    // set parameters for all modals to avoid repeating; avoid users to close modals by clicking outside or pressing ESC
    document.querySelectorAll('.info-modal').forEach(modal => {
        modal.setAttribute('tabindex', '-1');
        modal.setAttribute('role', 'dialog');
        modal.setAttribute('aria-hidden', 'true');
        modal.setAttribute('data-backdrop', 'static');
        modal.setAttribute('data-keyboard', 'false');
    });
</script>

<script>
    let previousSelectedUser = null;
    let operationOnUsers = 'safe';

    const warningModal = document.getElementById('operationWarningModal');

    function getUserInfo(userId,button) {
        if (previousSelectedUser) {
            previousSelectedUser.parentElement.style.backgroundColor = '#f4f4f4';
        }

        button.parentElement.style.backgroundColor = '#c2bfbf';
        previousSelectedUser = button;

        fetch(`/admin/profile/${userId}`)
            .then(response => response.json())
            .then(data => {
                const infoDiv = document.getElementById('user-info');
                infoDiv.innerHTML = `🎓<pre>${JSON.stringify(data, null, 2)}`;
            })
            .catch(error => console.error('Error fetching user info:', error));
    };

    document.getElementById('addUserForm').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent the default form submission behavior

        // Access form inputs
        const lowerBound = document.getElementById('new-user-id-lower-bound').value;
        const upperBound = document.getElementById('new-user-id-upper-bound').value;
        const passwordLength = document.getElementById('passwordLength').value;

        // Validate input values (optional)
        if (!lowerBound || !upperBound || !passwordLength) {
            alert('All fields are required!');
            return;
        }

        if (parseInt(lowerBound) > parseInt(upperBound)) {
            alert('Low bound must be less than or equal to Upper bound!');
            return;
        }

        fetch('/admin/create_users', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                lowerBound: Number(lowerBound), 
                upperBound: Number(upperBound),
                passwordLength: Number(passwordLength),
            }),
        })
        .then(response => response.json())
        .then((data) => {
            const status = data.status;
            const html = data.html;
            if (status === 'success') {
                document.getElementById('all-users-list').innerHTML = html;
                $(document.getElementById('addUserModal')).modal('hide');
            } else {
                console.error('Error creating testers');
            }
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    });

    function handleAllUsers(checkbox) {
        const checkboxes = document.querySelectorAll('input[id^="user-checkbox-"]');
    
        checkboxes.forEach(cb => {
            cb.checked = checkbox.checked;
        });
    }

    function showWarningModal(action) {
        const warningHeaderInfo = document.getElementById('operation-warning-modal-header');
        const warningBodyInfo = document.getElementById('operation-warning-modal-body');

        if (action === 'delete') {
            warningHeaderInfo.textContent = 'Deletion Warning';
            warningBodyInfo.textContent = 'Confirm to delete all selected users?';
        } else if (action === 'promote') {
            warningHeaderInfo.textContent = 'Promotion Warning';
            warningBodyInfo.textContent = 'All selected users will be promoted to level-1 administrator, continue?';
        } else if (action === 'reset') {
            warningHeaderInfo.textContent = 'Reset Warning';
            warningBodyInfo.textContent = 'Profiles of all selected users will be erased, continue?';
        }

        operationOnUsers = action;
        $(warningModal).modal('show');
    }

    function operateOnSelectedUsers() {
        const userCheckboxes = document.querySelectorAll('input[id^="user-checkbox-"]');

        // Collect data-index values of checked checkboxes
        const checkedUserIds = [];
        userCheckboxes.forEach((checkbox) => {
            if (checkbox.checked) {
                checkedUserIds.push(checkbox.dataset.index); // Retrieve the data-index value
            }
        });

        validCheckedUserIds = checkedUserIds.filter(id => !isNaN(id) && Number.isInteger(Number(id))).map(id => Number(id));

        if (operationOnUsers != 'safe') {
            fetch('/admin/profile/operation', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    action: operationOnUsers, 
                    selectedUserIds: validCheckedUserIds,
                }),
            })
            .then(response => response.json())
            .then((data) => {
                const status = data.status;
                
                if (status === 'failure') {
                    console.error('Failed to execute operation on selected users. Server-client communication error.');
                }

                $(warningModal).modal('hide');
            })
            .catch((error) => {
                console.error('Error:', error);
            });
            }
    }
</script>
{% endblock %}  