<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">

{% for user in users %}
{% set permission_level = user.data.permission_level | default(0) %}
    <div class="user-rectangle">
        <input class="user-manage-checkbox" id="user-checkbox-{{ user.id }}" data-index="{{ user.id }}" type="checkbox">
        <button class="user-button" onclick="getUserInfo({{ user.id }},this);">
            {{ user.username }}{% for _ in range(permission_level) %}🌟{% endfor %}
        </button>
    </div>
{% endfor %}