{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_interface.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
{% endblock %}

<!-- Previous turns -->
{% if chat_history %}
    {% for conv in chat_history %}
        <!-- always fetch the last saved conversation, in case the user refreshes, don't show the abandoned responses -->
        {% set user_message = conv[-1][0] %}
        {% set llm_responses = conv[-1][1] %}
        {% set evals = conv[-1][2] %}
        {% if user_message %}
            <div class="user-message-container message-fade-in">
                <div class="user-message">
                    {{ user_message }}
                </div>
            </div>
        {% endif %}
        <div class="llm-response-container message-fade-in">
            <div class="llm-message-container">
                {% for llm_response in llm_responses %}
                    {% set index = loop.index0 %}
                    <div class="llm-message-annotation-container">
                        {% if index == evals["selectedResponseIndex"] %}
                            <div class="llm-message selected">
                            {{ llm_response }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endif %}

{% if user_input %}
<div class="user-message-container message-fade-in">
    <div class="user-message">
        {{ user_input }}
    </div>
</div>
{% endif %}

{% if llm_responses %}
<div class="llm-response-container message-fade-in">
    <div class="llm-message-container" id="llmMessageContainer">
        {% for llm_response in llm_responses %}
            {% set index = loop.index0 %}
            <div class="llm-message-annotation-container">
                <button type="button" class="llm-message" data-index="selection-{{ index }}" onclick="handleSelection(this);">
                    {{ llm_response }}
                </button>
                <button type="button" class="llm-message-elimination-button" data-index="elimination-{{ index }}" onclick="handleElimination(this);">✖</button>
            </div>
        {% endfor %}
        <div class="turn-annotation-container">
            <button type="button" class="end-turn-button" onclick="submitUserAnnotation();" style="left: 5%; width: 20%;">➡ soumettre</button>
        </div>
    </div>
</div>
{% endif %}
