{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_interface.css') }}">
{% endblock %}

{% if title_matching_time %}
    <div class="thought">
        <p>Title matching: {{ title_matching_time }}</p>
    </div>
{% endif %}

{% if entity_disambiguation_time %}
    <div class="thought">
        <p>Ambiguation detection: {{ entity_disambiguation_time }}</p>
    </div>
{% endif %}

{% if nl2sru_time %}
    <div class="thought">
        <p>NL2SRU: {{ nl2sru_time }}</p>
    </div>
{% endif %}

{% if gallica_retrieval_time %}
    <div class="thought">
        <p>Retrieval with Gallica: {{ gallica_retrieval_time }}</p>
    </div>
{% endif %}

{% if metadata_processing_time %}
    <div class="thought">
        <p>Retrieval with Gallica: {{ metadata_processing_time }}</p>
    </div>
{% endif %}

{% if load_document_embedding_time %}
    <div class="thought">
        <p>Load document embeddings: {{ load_document_embedding_time }}</p>
    </div>
{% endif %}

{% if clustering_time %}
    <div class="thought">
        <p>Clustering with HDBSCAN: {{ clustering_time }}</p>
    </div>
{% endif %}

{% if topic_modeling_prompt_time %}
    <div class="thought">
        <p>Topic modeling prompt: {{ topic_modeling_prompt_time }}</p>
    </div>
{% endif %}

{% if clarification_generation_time %}
    <div class="thought">
        <p>Clarification generation prompt: {{ clarification_generation_time }}</p>
    </div>
{% endif %}

{% if nl_sru_conversion_time %}
    <div class="thought">
        <p>NL2SRU conversion: {{ nl_sru_conversion_time }}</p>
    </div>
{% endif %}

{% if filtering_time %}
    <div class="thought">
        <p>Filtering irretrievable RQs: {{ filtering_time }}</p>
    </div>
{% endif %}

{% if total_time %}
    <div class="thought">
        <p>Total time: {{ total_time }}</p>
    </div>
{% endif %}
