{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
{% endblock %}

{% if chat_history %}
    {% for conv in chat_history %}
        <!-- always fetch the last saved conversation, in case the user refreshes, don't show the abandoned responses -->
        {% set user_message = conv[-1][0] %}
        {% set llm_responses = conv[-1][1] %}
        {% set evals = conv[-1][2] %}
        <!-- {% if user_message %}
            <div class="user-message-container message-fade-in">
                <div class="user-message">
                    {{ user_message }}
                </div>
                <img src="https://api.dicebear.com/9.x/thumbs/svg?seed={{ session['avatar-seed'] }}" alt="User Avatar" class="user-avatar">
            </div>
        {% endif %} -->
        <div class="llm-response-container message-fade-in">
            <img src="{{ url_for('static', filename='img/llm_avatar.png') }}" class="llm-avatar">
            <div class="llm-message-container">
                <div class="llm-message">
                    {{ llm_responses[0] }}
                </div>
                <div class="turn-annotation-container">
                    {% if evals["redondant"] == "yes" %}
                        <div class="turn-annotation-checkbox-container">
                            <div class="turn-annotation-checkbox selected">✔</div>
                            <span class="checkbox-label">Redondant</span>
                        </div>
                    {% else %}
                        <div class="turn-annotation-checkbox-container">
                            <div class="turn-annotation-checkbox"></div>
                            <span class="checkbox-label">Redondant</span>
                        </div>
                    {% endif %}
                    {% if evals["unnatural"] == "yes" %}
                        <div class="turn-annotation-checkbox-container" style="left: 25%; pointer-events: none;">
                            <div class="turn-annotation-checkbox selected">✔</div>
                            <span class="checkbox-label">Non naturel</span>
                        </div>
                    {% else %}
                        <div class="turn-annotation-checkbox-container" style="left: 25%; pointer-events: none;">
                            <div class="turn-annotation-checkbox"></div>
                            <span class="checkbox-label">Non naturel</span>
                        </div>
                    {% endif %}
                    {% if evals["incomplete"] == "yes" %}
                        <div class="turn-annotation-checkbox-container" style="left: 50%; width: 40%; pointer-events: none;">
                            <div class="turn-annotation-checkbox selected">✔</div>
                            <span class="checkbox-label">Meilleure réponse possible</span>
                        </div>
                    {% else %}
                        <div class="turn-annotation-checkbox-container" style="left: 50%; width: 40%; pointer-events: none;">
                            <div class="turn-annotation-checkbox"></div>
                            <span class="checkbox-label">Meilleure réponse possible</span>
                        </div>
                    {% endif %}
                    <!-- <button type="button" class="turn-annotation-submit-button"  style="left: 75%">➡</button>
                    <button type="button" class="turn-annotation-submit-button" style="left: calc(75% + 1.8rem);">⟳</button> -->
                </div>
                <div class="end-turn-info-container"><p class="end-turn-info">⬇ Annotation soumise. Répondez pour continuer. ⬇</p></div>
            </div>
        </div>
    {% endfor %}
{% endif %}

{% if user_input %}
<div class="user-message-container message-fade-in">
    <div class="user-message">
        {{ user_input }}
    </div>
    <img src="https://api.dicebear.com/9.x/thumbs/svg?seed={{ session['avatar-seed'] }}" alt="User Avatar" class="user-avatar">
</div>
{% endif %}

{% if llm_responses %}
<div class="llm-response-container message-fade-in">
    <img src="{{ url_for('static', filename='img/llm_avatar.png') }}" class="llm-avatar">
    <div class="llm-message-container" id="llmMessageContainer">
        <div class="llm-message-annotation-container">
            <div class="llm-message">
                {{ llm_responses[0] }}
            </div>
        </div>
        <div class="turn-annotation-container">
            <div class="turn-annotation-checkbox-container" style="left: 0%;">
                <button type="button" id="unnatural" class="turn-annotation-checkbox" onclick="userAnnotate(this);"></button>
                <span class="checkbox-label">Non naturel</span>
            </div>
            <div class="turn-annotation-checkbox-container" style="left: 25%; width: 40%; ">
                <button type="button" id="incomplete" class="turn-annotation-checkbox" onclick="userAnnotate(this);"></button>
                <span class="checkbox-label">Meilleure réponse possible</span>
            </div>
            <button type="button" class="end-turn-button" onclick="submitUserAnnotation();" style="left: 68%; width: 20%;">➡ soumettre</button>
        </div>
        <div class="end-turn-info-container"><p class="end-turn-info" id="end-turn-info" style="opacity: 0;"></p></div>
    </div>
</div>
{% endif %}