<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BnF-Chat</title>
    <link rel="icon" href="{{ url_for('static', filename='input_symbol.png') }}" type="image/png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tutorial.css') }}">

    {% block extra_css %}{% endblock %}
</head>

<body id="chat-interface">
    <img id="tutorial-cursor" class="tutorial-cursor" style="visibility: hidden;" src="{{ url_for('static', filename='img/mouse_cursor.png') }}">
    <div class="upper-bar-container" id="upper-bar-container">
        <!-- Left-aligned Title -->
        <div style="text-align: left; margin-left: 1vw;">
            <h1 style="color: #f0ede6; font-family: 'Impact'; font-size: 1.5rem; margin: 0;">BnF-Chat</h1>
        </div>
    
        <!-- Right-aligned Avatar -->
        <div class="avatar-container" style="margin: 0;">
            {% if session['avatar-seed'] %}
            <img src="https://api.dicebear.com/9.x/thumbs/svg?seed={{ session['avatar-seed'] }}" alt="avatar" class="avatar" id="avatar-icon">
            <div class="avatar-dropdown-menu" id="avatar-dropdown-menu">
                <a style="color: #ee4f15; text-decoration: none; pointer-events: none;">{{ session['username'] }}</a>
                <hr style="border: none; border-top: 0.05rem solid #c5bdbd; margin: 0.25rem 0;">
                {% if session['permission_level'] != 0 %}
                    <a href="#avatar">Avatar</a>
                    <a href="{{ url_for('admin.index') }}">Admin Interface</a>
                {% endif %}
                <!-- <a onclick="$(document.getElementById('annotationGuideModal')).modal('show');">Annotation</a>
                <a onclick="startCurrentModeTutorial();">Tutoriel</a>
                {% if session['permission_level'] != 0 %}
                    <a href="#about">À propos</a>
                {% endif %} -->
                <a href="{{ url_for('user.index') }}"  id="main-link">Chat</a>
                <a href="{{ url_for('module.nl2sru') }}" id="nl2sru-link">NL2SRU</a>
                <a href="{{ url_for('auth.logout') }}" id="logout-link">Se déconnecter</a>
            {% endif %}
            </div>
        </div>
    </div>
    <!-- <div class="logo-container" style="background-color: #ffffff;">
        <img src="{{ url_for('static', filename='logo_bnf.png') }}" alt="logo_bnf" class="first-logo">
        <img src="{{ url_for('static', filename='logo_scai.jpg') }}" alt="logo_scai" class="second-logo">
    </div> -->
    <section class="content" id="test-area-container" style="position: absolute; background-color: #f0ede5; height: 92%; width: 100%; top:8%; margin: 0; padding: 0;">
        <header style="border: none;">
            {% block header %}{% endblock %}
        </header>
        
        {% block content %}{% endblock %}
    </section>

    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        const avatarIcon = document.getElementById('avatar-icon');
        const avatarDropdownMenu = document.getElementById('avatar-dropdown-menu');

        let hideTimeout;

        if (avatarIcon) {
            avatarIcon.addEventListener('mouseover', () => {
                avatarDropdownMenu.style.display = avatarDropdownMenu.style.display === 'none' || avatarDropdownMenu.style.display === '' ? 'block' : 'none';
            });

            avatarIcon.addEventListener('mouseout', (event) => {
                hideTimeout = setTimeout(() => {
                    if (!avatarDropdownMenu.contains(event.relatedTarget)) {
                        avatarDropdownMenu.style.display = 'none'; // Hide the dropdown after delay
                    }
                }, 200);
            });
        }

        if (avatarDropdownMenu) {
            avatarDropdownMenu.addEventListener('mouseover', () => {
                clearTimeout(hideTimeout);
                avatarDropdownMenu.style.display = 'block';
            });

            avatarDropdownMenu.addEventListener('mouseout', (event) => {
                hideTimeout = setTimeout(() => {
                    if (!avatarIcon.contains(event.relatedTarget)) {
                        avatarDropdownMenu.style.display = 'none';
                    }
                },100);
            });
        }

        // avatarIcon.addEventListener('click', () => {
        //     dropdownMenu.style.display = dropdownMenu.style.display === 'none' || dropdownMenu.style.display === '' ? 'block' : 'none';
        // });

        // document.addEventListener('click', (event) => {
        //     if (!avatarIcon.contains(event.target) && !dropdownMenu.contains(event.target)) {
        //         dropdownMenu.style.display = 'none';
        //     }
        // });

        logOutButton = document.getElementById('logout-link');
        
        if (logOutButton){
            document.getElementById('logout-link').addEventListener('click', function(event) {
                event.preventDefault();

                localStorage.clear();
                
                window.location.href = this.href; 
            });
        }
        

        function startCurrentModeTutorial() {
            startAnimationTutorial(sessionId2Mode[sessionId]);
        }
    </script>

    {% block scripts %}
    {% endblock %}
</body>
</html>

